<%@chat = Chat.first%>
<h1>New Messages partial!</h1>
<div class="Pagination">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
<%if @chat.messages then %>
  <%@chat.messages.order(created_at: :asc).limit(10).offset(((@pagy.page*10)if (@pagy.page != 1))).each do |message| %>
    <div class="user-time-box" style="display:flex">
      <div class="message-user"> <%="#{message.user.email}"%></div>
      <div class="message-time"> <%="|  #{time_ago_in_words((message.created_at))} ago"%></div>
    </div>
    <div class="message"> <%=message.message%></div>
    <%if message.chat_images.attached?%>
      <div class='message_image'><%= image_tag message.chat_images.variant(:resize_attachment)%></div>
    <%end%>
    <br />
  <%end%>
<%else%>
  <div class="message"> Send a message!</div>
<%end%>
<h1>EONew Messages partial!</h1>
