<div id="send-message-partial">
  <%="send_message partial!"%>
</div>
<%=form_with model: @chat.messages.build,url: chat_message_index_path(@chat), data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |form| %>
  <%# <%=form_with model: @chat.messages.build, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }, action: :post do |form| %> %>
    <%=form.label "Message"%>
    <%=form.text_field :message%>
    <%=form.file_field :chat_images, direct_upload: true%>
    <%=form.submit "Send"%>
  <%end%>
