<html>
  <head>
    <title> <%= content_for :title, "Chat: #{@user.email}" %></title>
  </head>
  <body>
    <h1>
      | <%=@current_user.email%> | is chatting with | <%=@user.email%> |</h1>
  </h1>
  <h2>
    <p> User BIO <%#=@user.bio%></p>
  </h2>
  <%=render "messages"%>
  <%=render "message/new"%>
  <div>form 2 (testing!)</div>
</body>
</html>