<html>
  <head>
    <title> <%= content_for :title, "Chat: #{@chat.first_user.email} and #{@chat.first_user.email}" %></title>
  </head>
  <body>
    <h1>
      | <%=@chat.first_user.email%> | is chatting with | <%=@chat.second_user.email%> |</h1>
  </h1>
  <h2>
    <p> User BIO <%#=@user.bio%></p>
  </h2>
  <%= turbo_stream_from @chat, "messages" %>
  <div id="messages"><%=render "message/messages"%></div>
  <%=render "message/new"%>
</body>
</html>