<html>
  <head>
    <title> <%= content_for :title, "Chat: #{@chat.first_user.email} and #{@chat.first_user.email}" %></title>
  </head>
  <body>
    <h1>
      | <%=@chat.first_user.email%> | is chatting with | <%=@chat.second_user.email%> |</h1>
  </h1>
  <h2>
    <p> User BIO <%#=@user.bio%></p>
  </h2>
  <h1>New Messages partial!</h1>
  <%= turbo_stream_from "chat_#{@chat.id}_msg_box" %>
  <div id="messages">
    <%=render @chat.messages.order(created_at: :desc).limit(15) %>
  </div>
  <%=render "messages/new"%>
  <h1>EONew Messages partial!</h1>
  <h1>testing new form</h1>
</body>
</html>