<html>
  <head>
    <title> <%= content_for :title, "Chat: #{@chat.first_user.email} and #{@chat.first_user.email}" %></title>
  </head>
  <body>
    <div class="header">
      | <%=@chat.first_user.email%> and <%=@chat.second_user.email%> are chatting |</h1>
    <h1>
    </h1>
  </div>
  <div class="main-content">
    <%= turbo_stream_from "chat_#{@chat.id}_msg_box" %>
    <div class="Pagination">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div id="messages">
      <%=render @chat_messages.limit(10).offset((((@pagy.page-1)*10)if (@pagy.page != 1 || @pagy.page !=0)))%>
      <%# <%=render "messages/message"%> %>
    </div>
    <%=render "messages/new"%>
  </div>
</body>
</html>
