<html>
  <head>
    <title> <%= content_for :title, "Friends list" %></title>
  </head>
  <body>
    <%if @friends_list then%>
      <% @friends_list.each do |friend| %>
        <li><%=link_to friend.user.email, profile_path(friend)%> </li>
      <%end%>
    <%else%>
      <h1><%=current_user.email%>'s Friend list!</h1>
      <%="This is a  list of EVERY person right now."%>
      <% @test_list.each do |friend| %>
        <li><%=link_to friend.email, profile_path(friend)%></li>
        <%#Temporary path%>r
        <%=link_to "Maybe you should add some friends?", root_path ##should change the path to a search path%>
      <%end%>
    <%end%>
  </body>
</html>
