<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for :title, "Friends list" %></title>
    <%= stylesheet_link_tag "friends", "data-turbo-track": "reload"%>

  </head>
  <body>
    <div class="header">
      <h1> <%=current_user.email%>'s Friends:</h1>
    </div>
    <div class="main-content">
      <div id="list">
        <ul>
          <%if !@friends_list.empty? then%>
            <% @friends_list.each do |friend| %>
              <li><%=link_to friend.user.email, profile_path(friend.user_id)%> </li>
            <%end %>
          <%else%>
            <p>Its empty.. 😂😂😂😂😂</p>
            <%=link_to "Maybe you should add some friends?", search_path%>
          <%end%>
        </ul>
      </div>
    </div>
  </body>
</html>
